@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}


.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    height: 500px
    ;
 
}

.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}

.options-size > ul > li {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.options-size > ul > li:hover {
    background-color: #192a56;
}



.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .details {
    top: 70%; /* Adjust the percentage as needed */
  }
}

@media only screen and (max-width: 480px) {
  .details {
    top: 60%; /* Adjust the percentage as needed */
  }
}
