@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: .9rem;
    text-transform: capitalize;
}


.card {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    height: 399px;
    ;
 
}

.card > figure {
    width: 100%;
    margin: 10px auto 0 auto;
}

.card > figure > img {
    width: 70%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {

    display: block;
    font-size:  0.6rem;
    font-weight: 500;

}


.price {
 
   
    font-size:  1.25rem;
    font-weight: 500;
   
}



/* Añade el siguiente estilo a tu archivo CSS */
.options-colors ul {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias filas */
}

.options-colors li {
  margin-bottom: 2px; /* Ajusta el espacio entre los elementos en la columna */
}

.details > .options h1 {
    margin-bottom: 2px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}

.options-size > ul > li {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.options-size > ul > li:hover {
    background-color: #192a56;
}



.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding:6px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}




/* Media Queries */
@media only screen and (max-width: 1280px) {

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 36%;
}


}


/* Media Queries */
@media only screen and (max-width: 841px) {
  .details {
    top: 80%; /* Adjust the percentage as needed */
  }


  .card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 31%;
}

  
}

@media only screen and (max-width: 480px) {
  .details {
    top: 70%; /* Adjust the percentage as needed */
  }
}
