@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.generalStyles{
    margin-top: 9rem;
    margin-bottom: 6rem;
    padding:0;

    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
}

.containerP{
   
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.containerP:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 6%;

    background-size: cover;
    z-index: -1;
}

.contact-box{
    max-width: 850px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
    height: 100%;
    background: url("https://i.imgur.com/LvYmCYJ.jpg") no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
    background-color:rgb(73, 99, 36);
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom:10px ;

}

h2:after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius:2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1 rem;
    outline: none;
    border:2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transform: .3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border:2px solid rgba(30,85,250,0.47)
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;

}

.btn:hover{
    background-color: #27ae60;
}
.left{
    height: 100%;
    background: url("https://i.imgur.com/LvYmCYJ.jpg") no-repeat center;
    background-size: cover;
}




/* Media query para pantallas más pequeñas */
@media (max-width: 880px) {

    .contact-box{
        grid-template-columns: 1fr;

    }

    .left{
height: 200px;

    }
  }

  @media (max-width:540px) {
    .left{
        width: 400px;
    }
  }

  @media (max-width:404px) {
    .left{
        width: 300px;
    }
  }